// 头部高度
$headerHeight: 58px;
// 头部 zindex
$headerZindex: 19;

@import './header.scss';

#{$_}main {
  min-width: 100vw;
  min-height: 100vh;
}


$leftSidebarWidth: 250px;

#{$_}wrapper {
  padding: $headerHeight 0 0;
  #{$_}left-sidebar {
    height: calc(100% - #{$headerHeight});
    position: fixed;
    top: $headerHeight + 1px;
    left: 0;
    width: $leftSidebarWidth;
    transform: translateX(-100%);
    z-index: 10;
    transition: all .3s;
    .user-block {
      position: relative;
      margin: 20px 20px 0;
      text-align: center;
      height: 210px;
      overflow: hidden;
      .avatar-wrap {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: 0 auto 6px auto;
        img {
          display: block;
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
      }
  
      h4 {
        // font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: .9rem;
        line-height: 1.4rem;
      }
      p {
        font-size: .8rem;
        line-height: 1.4rem;
      }
  
      .user-stats {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px 0;
        .stat-block {
          text-align: center;
          line-height: 1.4rem;
          span:first-child {
            display: block;
            text-transform: uppercase;
            font-weight: 600;
            font-size: .65rem;
            color: #393a4f;
            text-indent: .5rem;
          }
          span:last-child {
            display: block;
            font-size: .9rem;
            color: #999;
          }
        }
      }
  
      .close-videos-sidebar {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: none;
        align-items: center;
        justify-content: center;
        transition: all .3s;
        svg {
          height: 32px;
          width: 32px;
          transition: stroke .3s;
        }
      }

      @media (max-width: 767px) {
        .close-videos-sidebar {
          display: block;
        }
      }
  
    }
    .user-menu {
      height: calc(100% - 250px);
      .el-scrollbar {
        height: 100%;
        .el-scrollbar__wrap{
          overflow-x: hidden;
        }
      }
    }
    &.is-active {
      transform: translateX(0);
    }
  }

  #{$_}main-wrapper {
    margin-left: $leftSidebarWidth;
    #{$_}one-router-view {
      padding: 30px;
    }
  }
}
